$primary-color: #009FB7;
$secondary-color: #EFF1F3;
$highlight-color: #FED766;
$background-color: #272727;
$default-text-color: #696773;
$error-color: #bb2d3b;

// $primary-color: #c1121f;
// $secondary-color: #669bbc;
// $highlight-color: #f5cb5c;
// $background-color: #003049;
// $default-text-color: #669bbc;
// $error-color: #780000;