<div class="home-wrapper">
    <div class="left-section">
        <h1 class="Title">Welcome to the vegetarian's webstore</h1>
        <p>
            Your one-stop shop for all your vegetarian needs.
        </p>
        <p>
            Head over to the store to check out all of our amazing products and sign up to start shopping!
        </p>
    </div>
    <div class="right-section">
        <img id="latest-product" src="https://images.pexels.com/photos/257816/pexels-photo-257816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
    </div>
</div>