<div class="home-wrapper">
    <div class="left-section">
        <h1 class="title">Hi, I'm Kaz</h1>
        <p>
            3rd year Software engineering student.
        </p>
        <p>
            I have experience with full-stack web development, 2D, 3D and VR Unity game development and SQL databases.
        </p>
        <p>
            Head on over to the Showcase page for animated examples of projects I've worked on!
        </p>
    </div>
    <div class="right-section">
        <div id="image-window">
            <img class="slide" src="../../assets//images/Showcase images/showcase VVE.png" alt="" *ngIf="currentSlideIndex == 1">
            <img class="slide" src="../../assets/images//Showcase images/Character modeling.png" alt="" *ngIf="currentSlideIndex == 2">
            <img class="slide" src="../../assets/images/Showcase images/LF2.png" alt="" *ngIf="currentSlideIndex == 3">
            <img class="slide" src="../../assets/images/Showcase images/VR.png" alt="" *ngIf="currentSlideIndex == 4">
        </div>
    </div>
</div>