<div class="home-wrapper">
    <div class="left-section">
        <h1 class="title">Hi, I'm Kaz</h1>
        <p>
            3rd year Software engineering student.
        </p>
        <p>
            I have experience with full-stack web development, 2D, 3D and VR Unity game development and SQL databases.
        </p>
    </div>
    <div class="right-section">
        <div id="image-window">
            <img class="slide" src="../../assets/gifs/VVE.gif" alt="" *ngIf="currentSlideIndex == 1">
            <img class="slide" src="../../assets/gifs/latest.gif" alt="" *ngIf="currentSlideIndex == 2">
            <img class="slide" src="../../assets/gifs/VR.gif" alt="" *ngIf="currentSlideIndex == 3">
            <img class="slide" src="../../assets/gifs/old 2d.gif" alt="" *ngIf="currentSlideIndex == 4">
            <img class="slide" src="../../assets/gifs/3d.gif" alt="" *ngIf="currentSlideIndex == 5">
            <img class="slide" src="../../assets/gifs/lighting.gif" alt="" *ngIf="currentSlideIndex == 6">
        </div>
    </div>
</div>