@import '../../../../utilities/index.scss';

.product-wrapper {
    border-bottom: 2px solid $primary-color;
    height: 100%;
    width: 100%;
    background-color: $window-background-color;

    box-shadow: $primary-color-box-shadow;
    padding-bottom: 10%;
}

.product-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 100%;
    padding: 5% 1%;

    @media screen and (max-width: $mobile-large) {
        font-size: 80%;
    }
}

.product-name
{
    flex: 0, 1, auto;
    height: 10%;
    font-size: 130%;
    text-align: center;
    white-space: nowrap;
    word-break: break-word;

    @media screen and (max-width: $mobile-large) {
        font-size: 100%;
    }
}

.product-image {
    position: relative;
    width: 100%;
    height: 55%;
    margin: auto;

    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (9 / 16) * 100%; // Aspect ratio (height / width)
    }

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        object-fit: contain;
    }
}

.product-bottom-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10%;
    height: 30%;
    width: 100%;

    .product-description {
        text-align: center;
        height: 70%;
        width: 100%;
        word-wrap: break-word;
        overflow-y: scroll;
    }

    .options {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 5%;
        height: 30%;

        button {
            background-color: $button-color;
            border: none;
            color: $highlight-color;
            padding: 0.5rem;
            border-radius: 8%;

            cursor: pointer;

            @media screen and (max-width: $mobile-large) {
                padding: 0.2rem;
            }
        }
    }
}
