<div class="product-wrapper">
    <div class="product-content">
        <h1 class="product-name">{{ product.name.slice(0, 45) }}</h1>
        <div class="product-image">
            <!-- <p>img goes here</p> -->
            <img [src]="product.imageUrl" alt="no image found">
        </div>
        <div class="product-bottom-section">
            <p class="product-description">{{ product.description }}</p>
            <div class="options">
                <p class="product-price">€19.99</p>
                <button>Add to cart</button>
            </div>
        </div>
    </div>
</div>