<div class="title">
    <h1>Visual showcase of projects I have made/been involved with</h1>
</div>
<div class="showcase-content-section">
    <div class="card">
        <div class="card-gif">
            <img src="../../assets/gifs/VVE.gif" alt="">
        </div>
        <div class="card-details">
            <div class="card-title">
                <h1>
                    Association of owners app
                </h1>
            </div>
            <div class="description">
                <p>
                    Platform developed for association of owner organizations.
                </p>
                <br>
                <p>
                    The app features an overview of all incoming user-posted issues, a management panel of said issues, a calendar to display all upcoming events, a user management panel,
                    a news tab and options to create new items per aforementioned category.
                </p>
            </div>
        </div>
        <div class="links">
            <a href="https://github.com/KeithMarex/VvE-APP">Github repo</a>
        </div>
    </div>
    <div class="card">
        <div class="card-gif">
            <img src="../../assets/gifs/latest.gif" alt="">
        </div>
        <div class="card-details">
            <div class="card-title">
                <h1>
                    (WIP) Project Lethal Force
                </h1>
            </div>
            <div class="description">
                <p>
                    Hectic 2d action game.
                </p>
                <br>
                <p>
                    A brief peek at the game I am currently working on.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-gif">
            <img src="../../assets/gifs/3d.gif" alt="">
        </div>
        <div class="card-details">
            <div class="card-title">
                <h1>
                    Physics-based 3D platformer
                </h1>
            </div>
            <div class="description">
                <p>
                    A simple physics based 3d platformer with an active ragdoll driven by spring forces.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-gif">
            <img src="../../assets/gifs/VR.gif" alt="">
        </div>
        <div class="card-details">
            <div class="card-title">
                <h1>
                    VR meeting room
                </h1>
            </div>
            <div class="description">
                <p>
                    A meeting room application, featuring Mirror networking, voice communication, desktop and VR support and image-uploading solution to display images for all connected clients.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-gif">
            <img src="../../assets/gifs/old 2d.gif" alt="">
        </div>
        <div class="card-details">
            <div class="card-title">
                <h1>
                    2D run & gun game.
                </h1>
            </div>
            <div class="description">
                <p>
                    A chaotic corridor shooter with lighting fast parkour movement and crazy physics interactions.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-gif">
            <img src="../../assets/gifs/old 2d.gif" alt="">
        </div>
        <div class="card-details">
            <div class="card-title">
                <h1>
                    Simple webstore
                </h1>
            </div>
            <div class="description">
                <p>
                    asd
                </p>
            </div>
        </div>
    </div>
</div>