<div class="broccolis">
    <div class="broccoli-wrapper first">
      <div class="broccoli">
        <img src="../../assets/images/brocc.svg">
      </div>
    </div>
    <div class="broccoli-wrapper second">
      <div class="broccoli">
        <img src="../../assets/images/brocc.svg">
      </div>
    </div>
    <div class="broccoli-wrapper third">
      <div class="broccoli">
        <img src="../../assets/images/brocc.svg">
      </div>
    </div>
    <div class="broccoli-wrapper fourth">
        <div class="broccoli">
            <img src="../../assets/images/brocc.svg">
        </div>
    </div>
    <div class="broccoli-wrapper fifth">
        <div class="broccoli">
            <img src="../../assets/images/brocc.svg">
        </div>
    </div>
</div>