* {
    overflow: hidden;
}

.broccolis {
    display: flex;
    height: 85vh;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
  }
  
  .broccoli-wrapper {
    animation: rising 9.5s linear infinite;
    width: 5rem;
    height: 5rem;
  }
  
  .first {
    animation-delay: 1.5s;
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .second {
    width: 2rem;
    height: 2rem;
    animation-delay: 2.5s;
  }
  
  .third {
    width: 1.5rem;
    height: 1.5rem;
    animation-delay: 3.5s;
  }

  .fourth {
    animation-delay: 0.5s;
    width: 2.5rem;
    height: 2.5rem;
  }

  .fifth {
    animation-delay: 2.8s;
    width: 1rem;
    height: 1rem;
  }
  
  .broccoli {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  @keyframes rising { 
    from { transform: translateY(100%) rotate(50deg) }
    to   { transform: translateY(-100vh) rotate(2000deg) }
  }