<div class="options-bar">
    <div class="option">
        <label for="filter">Filter</label>
        <input id="filter" type="text">
    </div>
    <div class="option">
        <label for="sort">Sort by</label>
        <select id="sort" name="" id=""></select>
    </div>
    <div class="broccolis">
        <div class="broccoli-wrapper first">
          <div class="broccoli">
            <img src="https://svgsilh.com/svg_v2/3241701.svg">
          </div>
        </div>
        <div class="broccoli-wrapper second">
          <div class="broccoli">
            <img src="../../../assets/images/brocc.svg">
          </div>
        </div>
        <div class="broccoli-wrapper third">
          <div class="broccoli">
            <img src="../../../assets/images/brocc.svg">
          </div>
        </div>
        <div class="broccoli-wrapper fourth">
            <div class="broccoli">
              <img src="../../../assets/images/brocc.svg">
            </div>
        </div>
        <div class="broccoli-wrapper fifth">
            <div class="broccoli">
              <img src="../../../assets/images/brocc.svg">
            </div>
        </div>
    </div>
</div>