<form class="product-wrapper" #productForm="ngForm">
    <div class="product-image">
        <img [src]="item.imageUrl" alt="no image found">
    </div>
    <div class="product-details">
        <div class="name">
            <h2>{{ item.name }}</h2>
        </div>
        <div class="quantity">
            <p>Quantity: {{ item.cartItem.quantity }}</p>
        </div>
        <div class="price">
            <p>Total cost: €{{ item.price * item.cartItem.quantity }}</p>
        </div>
    </div>
    <div class="buttons">

    </div>
</form>
