@import '../../../utilities/index.scss';

.product-wrapper {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 75%;
    margin-bottom: 1%;
    border-bottom: 2px solid $primary-color;
    background-color: $window-background-color;

    box-shadow: $primary-color-box-shadow;

    @media screen and (max-width: $desktop-small) {
        width: 100%;
    }
}

.product-image {
    box-sizing: border-box;
    height: 80%;
    width: 15%;
    margin: auto 3%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.quantity > input {
    width: 2rem;
}