<form class="product-wrapper" #itemForm="ngForm">
    <div class="product-image">
        <img [src]="item.imageUrl" alt="no image found">
    </div>
    <div class="product-details">
        <div class="name">
            <h2>{{ item.name }}</h2>
        </div>
        <div class="quantity">
            <label for="quantity">Quantity: </label>
            <input type="number" min="0" max="10" id="quantity" ngModel="{{ item.cartItem.quantity }}" name="quantity" (change)="onChangeQuantity(itemForm)">
        </div>
        <div class="price">
            <p>Total cost: €{{ totalPrice }}</p>
        </div>
    </div>
</form>
