@import '../../utilities/index.scss';

.header-wrapper {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    height: 4rem;
    width: 100%;
    min-width: 100%;
    background-color: $primary-color;

    .icon {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 5%;

        @media only screen and (max-width: $tablet) {
            width: 10%;
        }

        // Stripe colors based on current theme
        .stripe {
            flex: 1 1 auto;
        }

        .primary {
            background-color: $primary-color;
        }

        .secondary {
            background-color: $secondary-color;
        }

        .highlight {
            background-color: $highlight-color;
        }

        .background {
            background-color: $background-color;
        }

        .text {
            background-color: $default-text-color;
        }
    }

    .bar {
        display: inline-flex;
        flex-direction: row;
        margin: auto;
        justify-self: center;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 85%;
    }

    .navigation-links {
        display: flex;
        justify-content: flex-end;
        flex: 0 1 50%;
        min-width: 20%;
        padding: 0;
        list-style: none;

        @media only screen and (max-width: $mobile-large) {
            flex-direction: column;
        }

        li {
            padding: 0 5%;

            a {
                text-decoration: none;

                h1 {
                    font-size: 1.5rem;
                 }
            }
        }
    }

    h1 {
        color: $background-color;
    }

    h1.active-link {
        color: $highlight-color;
    }
}