<div class="header-wrapper">
    <div class="icon">
        <div class="stripe primary"></div>
        <div class="stripe background"></div>
        <div class="stripe text"></div>
        <div class="stripe highlight"></div>
        <div class="stripe secondary"></div>
    </div>
    <div class="bar">
        <div class="title-section">
            <h1 class="title">
                Kaz Schraven
            </h1>
        </div>
        <ul class="navigation-links">
            <li>
                <a routerLink="/">
                    <h1 routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</h1>
                </a>
            </li>
            <li>
                <a routerLink="/showcase">
                    <h1 routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Showcase</h1>
                </a>
            </li>
        </ul>
    </div>
    <div class="burg" (click)="openMenu()"></div>
</div>

<ul id="burger-links" class="invisible">
    <li>
        <a routerLink="/">
            <h1 routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</h1>
        </a>
    </li>
    <li>
        <a routerLink="/showcase">
            <h1 routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Showcase</h1>
        </a>
    </li>
</ul>