<div class="header-wrapper">
    <div class="bar">
        <div class="title-section">
            <div class="title-icon">
                
            </div>
            <h1 class="title">
                Webshop
            </h1>
        </div>
        <div class="navigation-links">
            <ul>
                <li>
                    <a routerLink="/">
                        <h1 routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</h1>
                    </a>
                </li>
                <li>
                    <a routerLink="/store">
                        <h1 routerLinkActive="active-link">Store</h1>
                    </a>
                </li>
                <li>
                    <a routerLink="/cart">
                        <h1 routerLinkActive="active-link">Cart</h1>
                    </a>
                </li>
                <li>
                    <a routerLink="/contact">
                        <h1 routerLinkActive="active-link">Contact</h1>
                    </a>
                </li>
            </ul>
        </div>
    </div>    
</div>