@import './utilities/index.scss';

* {
    margin: 0;
    padding: 0;
}

.clickable {
    cursor: pointer;
}

h1, h2, p, label {
    font-family: 'Outfit', sans-serif;
    color: $default-text-color;
}

::-webkit-scrollbar {
    width: 2.5rem;
    border: 15px;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    border: 18px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 25px;
    background-color: $secondary-color;
}

input, textarea, select, button {
    background-color: rgba($color: $secondary-color, $alpha: 0.1);
    border: 1px solid $primary-color;
}

.notification {
    display: flex;
    margin-top: 5%;
    width: 100%;
    justify-content: center;

    .notification-message {
        text-align: center;
        width: 30%;
        border: 1px solid $error-color;
        font-size: 150%;
    }
}