@import '../../utilities/index.scss';

.page-header {
    border-bottom: 1px solid $primary-color;
    margin-bottom: 1%;
}

.store-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;

    app-options-panel {
        flex: 0 1 5%;
        padding-right: 2%;
        border-right: 1px solid $primary-color;
        box-shadow: 1px 0px 0px 0px rgba($color: $primary-color, $alpha: 0.35);

        @media screen and (max-width: $mobile-large) {
            height: 1px;
            width: 100%;
            border: none;
            box-shadow: none;
            margin-bottom: 5%;
        }
    }

    app-products-list {
        flex: 1 1 auto;

        @media screen and (max-width: $mobile-large) {
            // flex-direction: column;
            overflow-y: scroll;
            width: 100%;
        }
    }

    @media screen and (max-width: $mobile-large) {
        flex-direction: column;
        width: 100%;
    }
}