@import '../../utilities/index.scss';

.page-header {
    border-bottom: 1px solid $primary-color;
    margin-bottom: 1%;
}

.store-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;

    app-options-panel {
        flex: 0 1 15%;
        // width: 15%;
        padding-right: 2%;
    }

    app-products-list {
        flex: 4 1 85%;
    }
}